<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改电影数据</title>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css"/>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <a :href="'workerUpdatePassword.html?workerName='+workerName" >点击修改密码</a>
    <a v-if="worker.workerPost == '售票员'" href="workerIndex.html" style="float: right">点击返回首页</a>
    <a v-if="worker.workerPost == '零售员'" href="retailWorkerIndex.html" style="float: right">点击返回首页</a>
    <form class="layui-form" action="">
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">员工ID</label>
            <div class="layui-input-block">
                <input type="text" name="workerId" v-model="worker.workerId" id="workerId" required
                       lay-verify="required"
                       autocomplete="off"
                       class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">员工名称</label>
            <div class="layui-input-block">
                <input type="text" name="workerName" v-model="worker.workerName" id="workerName" required
                       lay-verify="required"
                       placeholder="请输入员工名称"
                       autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">员工年龄</label>
            <div class="layui-input-block">
                <input type="text" name="workerAge" v-model="worker.workerAge" id="workerAge" required
                       lay-verify="required"
                       placeholder="请输入员工年龄"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">员工性别</label>
            <div class="layui-input-block">
                <input type="text" name="workerSex" v-model="worker.workerSex" id="workerSex" required
                       lay-verify="required"
                       placeholder="请输入员工性别"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">入职时间</label>
            <div class="layui-input-block">
                <input type="text" name="workerIntodate" v-model="worker.workerIntodate" id="workerIntodate" required
                       lay-verify="required"
                       placeholder="请输入入职时间"
                       autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">员工岗位</label>
            <div class="layui-input-block">
                <input type="text" name="workerPost" v-model="worker.workerPost" id="workerPost" required
                       lay-verify="required"
                       placeholder="请输入员工岗位"
                       autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">员工电话</label>
            <div class="layui-input-block">
                <input type="text" name="workerPhone" v-model="worker.workerPhone" id="workerPhone" required
                       lay-verify="required"
                       placeholder="请输入电话号码"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">员工密码</label>
            <div class="layui-input-block">
                <input type="text" name="workerPassword" v-model="worker.workerPassword" id="workerPassword" required
                       lay-verify="required"
                       placeholder="请输入密码"
                       autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="button" class="layui-btn" @click="updateWorker()" value="立即提交">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null)
            return unescape(r[2]);
        return null; //返回参数值
    }

    new Vue({
        el: "#app",
        data() {
            return {
                worker: {
                    isDelete: 0,
                    isRelex: 0
                },
                workerName: ''
            }
        },
        methods: {
            updateWorker() {
                var _this = this;
                axios({
                    method: "PUT",
                    url: "http://127.0.0.1:60/worker/workerUpdateMyInformation",
                    data: _this.worker,
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    }
                }).then(resp => {
                    var code = resp.data.code;
                    if (code == "200") {
                        alert("修改数据成功");
                        if (_this.worker.workerPost == '售票员'){
                            window.location.href = "workerIndex.html";
                        }else {
                            window.location.href = "retailWorkerIndex.html";
                        }
                    } else {
                        alert("修改数据失败");
                    }
                })
            }
        },
        mounted() {
            //1.获取地址栏参数
            var _this = this;
            _this.workerName = getUrlParam("workerName");
            //2.发送ajax请求
            axios({
                // 请求方式
                method: 'get',
                // 请求的地址
                url: 'http://127.0.0.1:60/worker/workerSelectByWorkerName/' + _this.workerName,
            }).then(function (result) {
                var code = result.data.code;
                if (code == "200") {
                    _this.worker = result.data.data;
                } else {
                    alert("查询用户信息数据失败!");
                }

            })
        }
    })
</script>
</body>
</html>