<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改电影数据</title>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css"/>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <a v-if="worker.workerPost == '售票员'" href="workerIndex.html" style="float: right">点击返回首页</a>
    <a v-if="worker.workerPost == '零售员'" href="retailWorkerIndex.html" style="float: right">点击返回首页</a>
    <form class="layui-form" action="">
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">用户id</label>
            <div class="layui-input-block">
                <input type="text" name="workerId" v-model="worker.workerId" id="workerId" required
                       lay-verify="required"
                       autocomplete="off"
                       class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-block">
                <input type="text" name="workerName" v-model="worker.workerName" id="workerName" required
                       lay-verify="required"
                       placeholder="请输入用户名称"
                       autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户密码</label>
            <div class="layui-input-block">
                <input type="text" name="password" v-model="password" id="password" required
                       lay-verify="required"
                       placeholder="请输入原密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户密码</label>
            <div class="layui-input-block">
                <input type="text" name="newUserPassword" v-model="newUserPassword" id="newUserPassword" required
                       lay-verify="required"
                       placeholder="请输入新密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="button" class="layui-btn" @click="updatePassword()" value="立即提交">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null)
            return unescape(r[2]);
        return null; //返回参数值
    }

    new Vue({
        el: "#app",
        data() {
            return {
                worker: {},
                workerName: '',
                password: '',
                newUserPassword: ''
            }
        },
        methods: {
            updatePassword() {
                    var _this = this;
                    _this.worker = {
                        workerName: _this.workerName,
                        workerPassword: _this.password,
                    }
                    axios({
                        method: "POST",
                        url: "http://127.0.0.1:60/worker/workerLogin/",
                        data: _this.worker,
                        headers: {
                            'Content-Type': 'application/json;charset=UTF-8'
                        }
                    }).then(resp => {
                        var code = resp.data.code;
                        var msg = resp.data.msg;
                        if (code == "200") {
                            _this.worker = {
                                workerName: _this.workerName,
                                workerPassword: _this.newUserPassword
                            }
                            axios({
                                method: "PUT",
                                url: "http://127.0.0.1:60/worker/workerUpdatePassword",
                                data: _this.worker,
                                headers: {
                                    'Content-Type': 'application/json;charset=UTF-8'
                                }
                            }).then(resp => {
                                var code = resp.data.code;
                                var msg = resp.data.msg;
                                if (code == "200") {
                                    alert("修改密码成功");
                                    window.location.href = 'workerUpdateInformation.html?workerName=' + _this.workerName;
                                } else {
                                    alert(msg);
                                }
                            })
                        } else {
                            alert(msg);
                        }
                    })
            }
        },
        mounted() {
            //1.获取地址栏参数
            var _this = this;
            _this.workerName = getUrlParam("workerName");
            //2.发送ajax请求
            axios({
                // 请求方式
                method: 'GET',
                // 请求的地址
                url: 'http://127.0.0.1:60/worker/workerSelectByWorkerName/' + _this.workerName,
            }).then(function (result) {
                var code = result.data.code;
                var msg = result.data.msg;
                if (code == "200") {
                    _this.worker = result.data.data;
                } else {
                    alert(msg);
                }
            })
        }
    })
</script>
</body>
</html>