<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改电影数据</title>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css"/>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script></head>
<body>
<div id="app">
    <a href="userIndex.html" style="float: right">点击返回首页</a>
    <form class="layui-form" action="">
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">用户id</label>
            <div class="layui-input-block">
                <input type="text" name="userId" v-model="user.userId" id="userId" required
                       lay-verify="required"
                       autocomplete="off"
                       class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-block">
                <input type="text" name="userName" v-model="user.userName" id="userName" required
                       lay-verify="required"
                       placeholder="请输入用户名称"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户电话</label>
            <div class="layui-input-block">
                <input type="text" name="userPhone" v-model="user.userPhone" id="userPhone" required
                       lay-verify="required"
                       placeholder="请输入用户电话"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">用户密码</label>
            <div class="layui-input-block">
                <input type="text" name="userPassword" v-model="user.userPassword" id="userPassword" required lay-verify="required"
                       placeholder="请输入用户密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item" style="display:none">
            <label class="layui-form-label">用户余额</label>
            <div class="layui-input-block">
                <input type="text" name="userBalance" v-model="user.userBalance" id="userBalance" required lay-verify="required"
                       placeholder="请输入结束时间"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div><div class="layui-form-item" style="display:none">
        <label class="layui-form-label">是否删除</label>
        <div class="layui-input-block">
            <input type="text" name="isDelete" v-model="user.isDelete" id="isDelete" required lay-verify="required"
                   placeholder="是否删除？"
                   autocomplete="off"
                   class="layui-input">
        </div>
    </div><div class="layui-form-item" style="display:none">
        <label class="layui-form-label">用户购票数</label>
        <div class="layui-input-block">
            <input type="text" name="ticketsCount" v-model="user.ticketsCount" id="ticketsCount" required lay-verify="required"
                   placeholder="请输入票价用户购票数"
                   autocomplete="off"
                   class="layui-input">
        </div>
    </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="button" class="layui-btn" @click="updateUser()" value="立即提交">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null)
            return unescape(r[2]);
        return null; //返回参数值
    }

    new Vue({
        el: "#app",
        data() {
            return {
                user: {},
                userName: ''
            }
        },
        methods: {
            updateUser() {
                var _this = this;
                axios({
                    method: "PUT",
                    url: "http://127.0.0.1:60/user/userUpdateMyInformation",
                    data: _this.user,
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    }
                }).then(resp => {
                    var code = resp.data.code;
                    if (code == "200") {
                        alert("修改数据成功");
                        window.location.href = 'userSelectMyInformation.html?userName='+_this.userName;
                    } else {
                        alert("修改数据失败");
                    }
                })
            }
        },
        mounted() {
            //1.获取地址栏参数
            var _this = this;
            _this.userName = getUrlParam("userName");
            //2.发送ajax请求
            axios({
                // 请求方式
                method: 'get',
                // 请求的地址
                url: 'http://127.0.0.1:60/user/userSelectMyInformation/' + _this.userName,
            }).then(function (result) {
                var code = result.data.code;
                if (code == "200") {
                    _this.user = result.data.data;
                } else {
                    alert("查询用户信息数据失败!");
                }
            })
        }
    })
</script>
</body>
</html>